# pip freeze of the local installation
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==2.0.2
django-braces==1.12.0
django-extensions==1.9.9
django-oauth-toolkit==1.0.0
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.7.7
factory-boy==2.10.0
Faker==0.8.10
idna==2.6
Jinja2==2.10
MarkupSafe==1.0
oauthlib==2.0.6
psycopg2==2.7.3.2
PyJWT==1.5.3
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
text-unidecode==1.1
typing==3.6.4
urllib3==1.22
uWSGI==2.0.15
schwifty==2.1.0
